<a href="https://colab.research.google.com/github/LoganCones/TuriCreate/blob/main/Regression_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Python Notebook will need to be performed in a Google Colab Notebook or minor adjustments will need to be made
!pip install turicreate

In [5]:
#Really Don't like the process of getting SFrame's read in but it's cool when it's working
import turicreate as tc
from google.colab import files
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
#Prompted to upload a file to Goolge Colab
uploaded = files.upload()

Saving home_data.zip to home_data.zip

In [6]:
!unzip home_data.zip
import turicreate as tc
sales = tc.SFrame('home_data.sframe/')

Archive:  home_data.zip
replace home_data.sframe/m_1ce96d9d245ca490.0000? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: home_data.sframe/m_1ce96d9d245ca490.0000
  inflating: __MACOSX/home_data.sframe/._m_1ce96d9d245ca490.0000
  inflating: home_data.sframe/dir_archive.ini
  inflating: __MACOSX/home_data.sframe/._dir_archive.ini
  inflating: home_data.sframe/m_1ce96d9d245ca490.frame_idx
  inflating: __MACOSX/home_data.sframe/._m_1ce96d9d245ca490.frame_idx
 extracting: home_data.sframe/objects.bin
  inflating: __MACOSX/home_data.sframe/._objects.bin
  inflating: home_data.sframe/m_1ce96d9d245ca490.sidx
  inflating: __MACOSX/home_data.sframe/._m_1ce96d9d245ca490.sidx
  inflating: __MACOSX/._home_data.sframe

In [10]:
sales.head()

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	float
	floors	float
	waterfront	int
	view	int
	condition	int
	grade	float
	sqft_above	float
	sqft_basement	float
	yr_built	float
	yr_renovated	float
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 10

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade |
+-------------+----------+--------+------------+------+-----------+-------+
|    1180.0   |  5650.0  |  1.0   |     0      |  0   |     3     |  7.0  |
|    2570.0   |  7242.0  |  2.0   |     0      |  0   |     3     |  7.0  |
|    770.0    | 10000.0  |  1.0   |     0      |  0   |     3     |  6.0  |
|    1960.0   |  5000.0  |  1.0   |     0      |  0   |     5     |  7.0  |
|    1680.0   |  8080.0  |  1.0   |     0      |  0   |     3     |  8.0  |
|    5420.0   | 101930.0 |  1.0   |     0      |  0   |     3     |  11.0 |
|    1715.0   |  6819.0  |  2.0   |     0      |  0   |     3     |  7.0  |
|    1060.0   |  9711.0  |  1.0   |     0      |  0   |     3     |  7.0  |
|    1780.0   |  7470.0  |  1.0   |     0      |  0   |     3     |  7.0  |
|    1890.0   |  6560.0  |  2.0   |     0      |  0   |     3     |  7.0  |
+-------------+----------+--------+------------+------+-----------+-------+
+------------+---------------+----------+--------------+---------+-------------+
| sqft_above | sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+------------+---------------+----------+--------------+---------+-------------+
|   1180.0   |      0.0      |  1955.0  |     0.0      |  98178  | 47.51123398 |
|   2170.0   |     400.0     |  1951.0  |    1991.0    |  98125  | 47.72102274 |
|   770.0    |      0.0      |  1933.0  |     0.0      |  98028  | 47.73792661 |
|   1050.0   |     910.0     |  1965.0  |     0.0      |  98136  |   47.52082  |
|   1680.0   |      0.0      |  1987.0  |     0.0      |  98074  | 47.61681228 |
|   3890.0   |     1530.0    |  2001.0  |     0.0      |  98053  | 47.65611835 |
|   1715.0   |      0.0      |  1995.0  |     0.0      |  98003  | 47.30972002 |
|   1060.0   |      0.0      |  1963.0  |     0.0      |  98198  | 47.40949984 |
|   1050.0   |     730.0     |  1960.0  |     0.0      |  98146  | 47.51229381 |
|   1890.0   |      0.0      |  2003.0  |     0.0      |  98038  | 47.36840673 |
+------------+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[10 rows x 21 columns]

In [9]:
#Split the data
train_data, test_data = sales.random_split(.8, seed = 0)

In [13]:
simple = tc.linear_regression.create(train_data, target = 'price', features = ['sqft_living'], validation_set=test_data, verbose = False)

In [16]:
simple.coefficients

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 2

Data:
+-------------+-------+--------------------+--------------------+
|     name    | index |       value        |       stderr       |
+-------------+-------+--------------------+--------------------+
| (intercept) |  None | -47114.02067021537 | 4923.344377526259  |
| sqft_living |  None | 281.9578501659873  | 2.1640546532334772 |
+-------------+-------+--------------------+--------------------+
[2 rows x 4 columns]

In [52]:
def simple_linear_regression(input_feature, output):
    #Formula we are calcuating for the slope is Pearsons Correlation Coefficient  * STD(Y)/STD(X) 
    #Pearsons Correlation Coefficient is Summation((x- x_mean)(y- y_mean))/SQRT(Summation(x-x_mean)^2(Summation(y-y_mean)^2)) 
    #Standard Deviation is Square Root of Summation(y-y_mean)^2/n-1)
    # compute the sum of input_feature and output
    y_sum= output.sum()
    x_sum = input_feature.sum()
    n = float(len(output))
    y_mean = y_sum/n
    x_mean = x_sum/n
    xx = (input_feature * input_feature).sum()
    xx_mean = xx/n
    xy = (input_feature * output).sum()
    xy_mean = xy/n
    # x_square = x_sum**2

    slope = (xy_mean - x_mean*y_mean) /  (xx_mean - (x_mean* x_mean)) 
    
    intercept = y_mean - slope * x_mean

    return (intercept, slope)

In [53]:
simple_linear_regression(input_feature = train_data['sqft_living'] ,output= train_data['price'])

(-47116.0765749407, 281.95883856769774)

In [26]:
intercept = -47114.02067021537
slope = 281.9578501659873

def get_regression_predictions(input_features, intercept, slope):
  predicted_output = (input_features * slope + intercept)  
  return(predicted_output)

In [67]:
intercept = -47114.02067021537
slope = 281.9578501659873
my_house_sqft = 2650
estimated_price = get_regression_predictions(input_features = 2650, intercept = intercept, slope = slope)
print( "The estimated price for a house with %d squarefeet is $%.2f" % (my_house_sqft, estimated_price))

The estimated price for a house with 2650 squarefeet is $700074.28

In [78]:
intercept = -47114.02067021537
slope = 281.9578501659873

def get_residual_sum_of_squares(input_feature, output, intercept, slope):
    # First get the predictions
    predictions = get_regression_predictions(input_feature, intercept , slope)
    # then compute the residuals (since we are squaring it doesn't matter which order you subtract)
    residuals = (output - predictions)
    # square the residuals and add them up
    RSS = ((residuals)**2).sum()

    return(RSS)

In [79]:
intercept = -47114.02067021537
slope = 281.9578501659873
rss_prices_on_sqft = get_residual_sum_of_squares(train_data['sqft_living'], train_data['price'], intercept, slope)
print(rss_prices_on_sqft)

1201918356336391.8

In [86]:
intercept = -47114.02067021537
slope = 281.9578501659873
rss_prices_on_sqft = get_residual_sum_of_squares(test_data['sqft_living'], test_data['price'], intercept, slope)
print(rss_prices_on_sqft)

275402888125772.22

In [87]:
intercept = -47114.02067021537
slope = 281.9578501659873
rss_prices_on_sqft = get_residual_sum_of_squares(test_data['bedrooms'], test_data['price'], intercept, slope)
print(rss_prices_on_sqft)

2005058305951267.0

In [89]:
#Goal is to predict square feet here
def inverse_regression_predictions(output, intercept, slope):
    estimated_input = (output - intercept) / slope
    return(estimated_input)

In [90]:
inverse_regression_predictions(800000, intercept=intercept, slope = slope)

3004.399487978516